<div class="contenedorlogin__imagen">
  <img src="https://images.pexels.com/photos/8376232/pexels-photo-8376232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="850px" height="600px" >
  </div>
<div class="contenedorlogin">
<div class="contenedorlogin__formulario">
<!---DISEÑO MATERIAL-->

  <img src="https://drive.google.com/uc?export=download&id=1bEvbjUcGUZJ48Ul9sHekrDUkDUXJ2YpD">
<form>
  <h1 class="contenedorlogin__titulo">Iniciar sesion</h1> 
  <mat-form-field>
    <input matInput placeholder="Cedula">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Contraseña">

  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" class="botonformulario" [routerLink]="'/appoiment'">Acceder</button>
  
    <button mat-raised-button color="primary" [routerLink]="'/appoiment'">Recuperar clave</button>
  </div>
  <br>  
</form>

</div>
</div>